@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #2892D7;
  --secondary-color: #F71735;
  --accent-color: #FF9F1C;
  --background-color: #000000;
  --text-color: #FFFFFF;
  
}
